= simple_form_for search, as: '', url: search_path, method: :get, html: { id: :search, class: '' } do |f|
  = f.input :q, label: false
  = f.button :submit, I18n.t('helpers.submit.search.submit'), name: nil, class: 'btn-primary'
